@model PodcastingHub.Models.Podcast

@{
    ViewBag.Title = "Add Podcast";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Podcast</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RSSURI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RSSURI)
            @Html.ValidationMessageFor(model => model.RSSURI)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
